<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996938818181-l3uot95v49bj8plnqo8dbmkmrbhle4b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996938818181-l3uot95v49bj8plnqo8dbmkmrbhle4b2</string>
	<key>API_KEY</key>
	<string>AIzaSyArR6sT0sgX2o3679BchDGgaZElLMec3sI</string>
	<key>GCM_SENDER_ID</key>
	<string>996938818181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DevBoostItau.com.br.DevBoostItau-Project1</string>
	<key>PROJECT_ID</key>
	<string>devboostitauchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>devboostitauchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996938818181:ios:c12631835119d241ecbfec</string>
	<key>DATABASE_URL</key>
	<string>https://devboostitauchallenge.firebaseio.com</string>
</dict>
</plist>